---
import Basic from "@/layouts/Basic.astro";

import Picture1 from "@/assets/img/1.jpeg";
import Picture2 from "@/assets/img/2.jpeg";
import Picture3 from "@/assets/img/3.jpeg";
import Picture4 from "@/assets/img/4.jpeg";
import Picture5 from "@/assets/img/5.jpeg";
import Picture6 from "@/assets/img/6.jpeg";
import Picture7 from "@/assets/img/7.jpeg";
import Picture8 from "@/assets/img/8.jpeg";
import Picture9 from "@/assets/img/9.jpeg";
import Picture10 from "@/assets/img/10.jpeg";
import Picture11 from "@/assets/img/11.jpeg";
import Picture12 from "@/assets/img/12.jpeg";
import Picture13 from "@/assets/img/13.jpeg";
import Picture14 from "@/assets/img/14.jpeg";
import Picture15 from "@/assets/img/15.jpeg";
import Picture16 from "@/assets/img/16.jpeg";
import Picture17 from "@/assets/img/17.jpeg";
import Picture18 from "@/assets/img/18.jpeg";
import Picture19 from "@/assets/img/19.jpeg";
import Picture20 from "@/assets/img/20.jpeg";
import Picture21 from "@/assets/img/21.jpeg";
import Picture24 from "@/assets/img/24.jpeg";
import Picture23 from "@/assets/img/23.jpeg";
import Picture22 from "@/assets/img/22.jpeg";
import {Image} from "astro:assets";

import ImageDetails from "@/components/ImageDetails.astro";
---

<Basic topImage={true}>
    <main class="grid gap-10 [grid-template-columns:_repeat(auto-fit,_minmax(200px,_1fr))]
    *:snap-center *:sm:snap-align-none
    [&_button]:hover:scale-110
    mt-10 mb-20">

        <h1 class="col-span-full text-4xl sm:text-4xl font-bold"> Gallery </h1>

        <ImageDetails place="Winningen, 2025" phone="iPhone 13 Pro">
            <Image src={Picture24} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Aveiro, 2025" phone="iPhone 13 Pro">
            <Image src={Picture23} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Parede, 2025" phone="iPhone 13 Pro">
            <Image src={Picture22} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Cascais, 2025" phone="iPhone 13 Pro">
            <Image src={Picture21} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Carcavelos, 2025" phone="iPhone 13 Pro">
            <Image src={Picture20} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Aveiro, 2025" phone="iPhone 13 Pro">
            <Image src={Picture19} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Ria de Aveiro, 2025" phone="iPhone 13 Pro">
            <Image src={Picture18} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Porto, 2025" phone="iPhone 13 Pro">
            <Image src={Picture17} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Coimbra, 2025" phone="iPhone 13 Pro">
            <Image src={Picture16} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Coimbra, 2025" phone="iPhone 13 Pro">
            <Image src={Picture15} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Coimbra, 2025" phone="iPhone 13 Pro">
            <Image src={Picture14} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Óbidos, 2025" phone="iPhone 13 Pro">
            <Image src={Picture13} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Mainz, 2025" phone="iPhone 13 Pro">
            <Image src={Picture12} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Hamburg, 2025" phone="iPhone 13 Pro">
            <Image src={Picture11} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Wiesbaden, 2025" phone="iPhone 13 Pro">
            <Image src={Picture10} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="ICE, 2025" phone="iPhone 13 Pro">
            <Image src={Picture9} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Rheindürkheim, 2025" phone="iPhone 13 Pro">
            <Image src={Picture8} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Mainz, 2025" phone="iPhone 13 Pro">
            <Image src={Picture7} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Mainz, 2025" phone="iPhone 13 Pro">
            <Image src={Picture6} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Mainz, 2024" phone="iPhone 13 Pro">
            <Image src={Picture5} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Mainz, 2024" phone="iPhone 13 Pro">
            <Image src={Picture4} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Lisboa, 2024"  phone="iPhone 13 Pro">
            <Image src={Picture3} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Lisboa, 2024" phone="iPhone 13 Pro">
            <Image src={Picture2} alt="Bild" class="rounded-xl"/>
        </ImageDetails>

        <ImageDetails place="Barreiro, 2024" phone="iPhone 13 Pro">
            <Image src={Picture1} alt="Bild" class="rounded-xl"/>
        </ImageDetails>
    </main>
</Basic>